<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.upenn.studyspaces"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="14" />
    <!-- Change to 11 for Holo UI -->

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".APIAccessor"
        android:antialias="true"
        android:icon="@drawable/iconapp"
        android:theme="@android:style/Theme.Holo.Light" >
        <activity
            android:name=".SplashScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <fragment
            android:id="@+id/searchFragment"
            android:name=".SearchFragment"
            android:label="@string/search"
            android:screenOrientation="portrait" >
        </fragment>

        <activity
            android:name=".StudySpaceListActivity"
            android:label="@string/search_results"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateUnchanged" >
        </activity>
        <activity
            android:name=".StudySpaceDetails"
            android:label="@string/space_details"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Meme"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".About"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Help"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".CustomMap"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>

        <uses-library android:name="com.google.android.maps" />

        <fragment
            android:id="@+id/favoritesFragment"
            android:name=".FavoritesFragment"
            android:label="@string/favorites"
            android:screenOrientation="portrait" >
        </fragment>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
    </application>

</manifest>